body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-medium-semi-bold: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --text-small-normal-size: 14px;
  --text-regular-medium-size: 16px;
  --text-tiny-normal-size: 12px;
  --text-medium-semi-bold-size: 18px;
  --heading-desktop-h2-size: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --text-large-normal-size: 20px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-37xl: 56px;
  --font-size-26xl: 45px;
  --font-size-15xl: 34px;
  --heading-mobile-h2-size: 36px;
  --font-size-3xl: 22px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;

  /* Colors */
  /* --color-slateblue: #413cb9; */
  --color-slateblue: #000;
  --color-neutral-white: #fff;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: rgba(230, 230, 230, 0.09);
  --color-neutral-neutral: #666;
  --link-primary: #000;
  --color-lightgray-100: #d4d4d4;
  --color-neutral-neutral-lighter: #ccc;
  --color-neutral-neutral-dark: #444;
  --color-darkslategray-100: #333;
  --color-darkslategray-200: rgba(51, 51, 51, 0.09);
  /* --color-mediumslateblue: #6963e0;
  --color-mediumslateblue-100: rgba(105, 99, 224, 0.09); */
  --color-mediumslateblue: #d0d0d5;
  --color-mediumslateblue-100: #eeeeee;
  --background-color-secondary: #eee;
  --color-gray-100: rgba(255, 255, 255, 0);
  --btn-color-gray:#d0d0d5;
  --black-color:#000;

  /* Gaps */
  --gap-61xl: 80px;
  --gap-13xl: 32px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-21xl: 40px;
  --gap-base: 16px;
  --gap-xs: 12px;
  --gap-29xl: 48px;
  --gap-mini: 15px;
  --gap-5xs: 8px;
  --gap-45xl: 64px;
  --gap-9xs: 4px;
  --gap-109xl: 128px;
  --gap-4xs: 9px;
  --gap-sm: 14px;
  --gap-69xl: 88px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-61xl: 80px;
  --padding-45xl: 64px;
  --padding-33xl: 52px;
  --padding-13xl: 32px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-sm: 14px;
  --padding-93xl: 112px;
  --padding-54xl: 73px;
  --padding-23xl: 42px;
  --padding-base: 16px;
  --padding-28xl: 47px;
  --padding-2xs: 11px;
  --padding-3xl: 22px;
  --padding-4xl: 23px;
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-lgi: 19px;
  --padding-29xl: 48px;
  --padding-smi: 13px;
  --padding-14xl: 33px;
  --padding-12xl: 31px;
  --padding-lg: 18px;
  --padding-9xs: 4px;
  --padding-9xl: 28px;
  --padding-37xl: 56px;
  --padding-69xl: 88px;
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-16xl: 35px;
  --padding-18xl: 37px;
  --padding-6xl: 25px;
  --padding-11xl: 30px;
  --padding-17xl: 36px;
  --padding-21xl: 40px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-mid: 17px;
  --padding-30xl: 49px;
  --padding-20xl: 39px;
  --padding-19xl: 38px;
  --padding-32xl: 51px;

  /* Border radiuses */
  --br-10xs: 3px;
  --br-smi: 13px;
  --br-31xl: 50px;
  --br-5xs: 8px;
  --br-81xl: 100px;
  --br-45xl: 64px;
  --br-481xl: 500px;
}
input,select,textarea{
  outline: none;
}
input[type="radio"],
input[type="checkbox"]{
  filter: grayscale(1);
}

textarea::placeholder, textarea {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-image: url(./public/icon--chevrondown1.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: calc(100% - 15px);
  background-position-y: center;
} 

.all_more_items {
  display: none !important;
}
.all_more_items.show_menu{
  display: flex !important;
  flex-wrap: wrap;
}
.owl-nav{
  display: flex;
  float: right;
  margin-top: 50px;
}
.owl-nav > button {
  cursor: pointer;
  border: 1px solid var(--link-primary) !important;
  padding: var(--padding-xs) var(--padding-2xs) !important;
  background-color: transparent;
  height: 48px;
  width: 48px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.owl-dots {
  display: flex;
  align-items: center;
  position: relative;
  top: 67px;
  z-index: 222;
}

.owl-dots > button {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 7px;
  background: #cccccc !IMPORTANT;
}

.owl-dots > button.active {
  background: #000 !IMPORTANT;
}


.content1073 > div, 
header > div {
  width: unset !important;
}
.content1073 > div{
  gap: 0;
}
.content1073 > img ,
header > div > img {
  width: 100px !important;
  min-height: auto;
  margin-right: 20px !important;
}
.content1073 > div > div,
header > div > div{
  flex: unset !important;
  justify-content: unset !important;
  gap: 0 !important;
}
.content1073 > div > div{
  cursor: pointer;
}
.content1073 > div > div,
header > div > div > div{
  margin-right: 40px;
  cursor: pointer;
}
.footer-logo {
  height: auto !important;
  width: 110px !important;
}
.social-links26 > div img,
.social-links59 > div img,
.social-links59 > div img,
.social-links59 > div img,
.social-links59 > div img{
  min-height: auto;
  height: auto;
}
button.showMenuForMobile {
  padding: 0; 
  filter: invert(1);
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  margin-left: -11px;
  margin-top: 3px;
}

@media screen and (max-width:1325px) {
  footer > div:first-child > div:first-child,
  .newsletter50,
  .newsletter39,
  .newsletter45,
  .newsletter42,
  .newsletter21,
  .newsletter56,
  .newsletter32, 
  .newsletter54
  {
    margin-bottom: 40px !important;
  }

}



@media screen and (max-width:800px) {
  footer > div > div > div {
    flex-wrap: wrap;
    width: 100% !important; 
    gap: 10px ;
  }

  footer > div > div > div > div {
      display: block;
      min-width: 100% !IMPORTANT;
      max-width: 100%;
  }
}
@media screen and (max-width:850px) {
  section.navbar-732 .content1072 .content1073 {
    gap: 0;
}
  .content1073 .column141{
    display: none;
  }
  button.showMenuForMobile { 
    display: flex; 
  }
  header > div{
    gap:0 !important;
    position: relative;
  }
  body.show_menu{
    overflow: hidden;
  }
  body.show_menu .headMenu, 
  body.show_menu header .headMenu{
    display: block !important;
    position: fixed;
    top: 70px;
    width: 100% !important;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #dedede;
    padding: 15px var(--padding-13xl);
    padding-left: 32px;
    color: #000;
    z-index: 9; 
  }
  header .headMemu > div {
    margin: 5px 0;
  }
  .all_more_items {
    margin-top: 170px;
    max-height: 500px;
    overflow: auto;
  }
  body:not(.show_menu ) .all_more_items{
    display: none !important;
  }
  .content1073 > div > div {
    width: 100%;
    margin: 0;
    margin: 5px 0;
}
.content1073 > div > div, header > div > div > div { 
  margin: 5px 0;
} 
 

}


@media screen and (max-width:1125px) {  
.header_alert_bottom{
  padding: var(--padding-base) var(--padding-13xl) !important;
}

}